/* 
    Основные стили
*/

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
}

canvas {
	display: block;
}

/* 
    Контейнер GUI
*/

#gui-container {
	position: absolute;
	top: 8px;
	left: 20px;
	width: 225px;
	padding: 15px;
	border-radius: 9px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: 10;
	overflow-y: auto;
	margin-top: 40px;
}

.gui-group {
	margin-bottom: 18px;
}

label {
	font-weight: bold;
	display: block;
	margin-bottom: 6px;
}

input[type='text'],
select {
	display: block;
	width: calc(100% - 15px);
	padding: 9px;
	margin: 0 auto 12px;
	border-radius: 6px;
	box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.2s ease-in-out;
	border: none;
}

input[type='text']:focus,
select:focus {
	box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.3);
	outline: none;
}

/* 
    Кнопки
*/

button {
	display: block;
	width: calc(100% - 15px);
	padding: 9px;
	margin: 6px auto;
	border: none;
	border-radius: 6px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

button:hover {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

/* 
    Скрытые элементы
*/

input[type='file'] {
	display: none;
}

/* 
    Ползунок и счётчик
*/

.slider-container {
	display: flex;
	align-items: center;
}

input[type='range'] {
	-webkit-appearance: none;
	appearance: none;
	width: calc(100% - 15px);
	height: 10px;
	outline: none;
	border-radius: 5px;
}

#tiling-value {
	display: inline-block;
	width: 30px;
	text-align: right;
	margin-left: 10px;
	font-size: 14px;
}

/* 
    Тема
*/

.theme-label {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

#gui-container #theme-switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 17px;
	background-color: #ccc;
	border-radius: 34px;
	cursor: pointer;
}

#gui-container #theme-switch .toggle-thumb {
	position: absolute;
	top: 2px;
	left: 2px;
	width: 13px;
	height: 13px;
	background-color: white;
	border-radius: 50%;
	transition: 0.4s;
}

body.light-theme #gui-container #theme-switch {
	background-color: #4a90e2;
}

body.light-theme #gui-container #theme-switch .toggle-thumb {
	transform: translateX(13px);
}

/* 
    Темная тема
*/

body.dark-theme {
	background: #202020;
	color: #eee;
}

body.dark-theme #gui-container {
	background: rgba(32, 32, 32, 0.9);
}

body.dark-theme input[type='text'],
body.dark-theme select {
	background-color: #333;
	color: #eee;
}

body.dark-theme button {
	background-color: #4a90e2;
}

body.dark-theme button:hover {
	background-color: #4a90e2;
}

body.dark-theme button:active {
	background-color: #4a90e2;
}

body.dark-theme input[type='range'] {
	background: #333;
}

/* 
    Светлая тема
*/

body.light-theme {
	background: #cacaca;
	color: #333;
}

body.light-theme #gui-container {
	background: rgba(202, 202, 202, 0.9);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body.light-theme input[type='text'],
body.light-theme select {
	background-color: #f0f0f0;
	color: #333;
}

body.light-theme button {
	background-color: #4a90e2;
}

body.light-theme button:hover {
	background-color: #3a7ac2;
}

body.light-theme button:active {
	background-color: #2a6aa2;
}

body.light-theme input[type='range'] {
	background: #f0f0f0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body.light-theme input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background: #4a90e2;
	cursor: pointer;
	border-radius: 50%;
}

body.light-theme input[type='range']::-moz-range-thumb {
	width: 20px;
	height: 20px;
	background: #4a90e2;
	cursor: pointer;
	border-radius: 50%;
}

/* 
    Индикатор загрузки
*/

#loading-bar {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 150px;
	height: 150px;
	background-color: transparent;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
}

#loading-bar svg {
	width: 100%;
	height: 100%;
	transform: rotate(-90deg);
	animation: progressAnimation 2s linear infinite;
}

#loading-bar-text {
	position: absolute;
	color: white;
	font-size: 20px;
}

#loading-bar circle {
	stroke-width: 5px;
	stroke-linecap: round;
	stroke-opacity: 0.9;
}

@keyframes progressAnimation {
	0% {
		stroke-dashoffset: 251.33;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

body.drag-over::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 4px dashed #4a90e2;
	pointer-events: none;
	z-index: 9999;
}

#model-tabs {
	margin-top: 5px;
	position: fixed;
	top: -10px;
	left: 0;
	right: 0;
	background-color: transparent;
	padding: 5px 20px;
	z-index: 1000;
}

#tab-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	overflow-x: auto;
	white-space: nowrap;
}

#tab-list li {
	padding: 9px 15px;
	margin-right: 5px;
	background-color: #4a90e2;
	color: #fff;
	cursor: pointer;
	border-radius: 6px;
	transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#tab-list li:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#tab-list li.active {
	background-color: #3a7ac2;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body.dark-theme #tab-list li {
	background-color: #4a90e2;
	color: #fff;
}

body.dark-theme #tab-list li.active {
	background-color: #3a7ac2;
}

body.light-theme #tab-list li {
	background-color: #4a90e2;
	color: #fff;
}

body.light-theme #tab-list li.active {
	background-color: #3a7ac2;
}

/* Стили для модального окна */
.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 0px 20px;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	max-width: 400px;
	width: 90%;
}

.modal-content {
	width: 100%;
}

.close {
	color: #aaa;
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
}
body.dark-theme .modal {
	background-color: rgba(32, 32, 32, 0.9);
	color: #fff;
}

body.dark-theme .close {
	color: #ddd;
}

body.dark-theme .close:hover,
body.dark-theme .close:focus {
	color: #fff;
}

#about-btn:hover {
	color: #3a7ac2;
}

body.dark-theme #about-btn {
	color: #6aa8e8;
}

body.dark-theme #about-btn:hover {
	color: #8abbed;
}

.modal-content a {
	color: #4a90e2;
	text-decoration: none; 
}

.modal-content a:hover {
	color: #3a7ac2;
}

/* Стили для вкладок */
#tabs-container {
	display: flex;
	overflow: hidden;
	padding: 10px 0;
	white-space: nowrap; 
}

.tab {
	flex: 0 0 auto;
	width: 85px; 
	text-align: center; 
	padding: 5px 10px;
	margin-right: 5px;
	background-color: #4a90e2;
	color: white;
	cursor: pointer;
	border-radius: 9px;
}

.tab.active {
	background-color: #3a7ac2;
}

.close-tab {
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	font-size: 16px;
	line-height: 1;
}

.close-tab:hover {
	color: #ff4d4d;
}

/* Стили для списка мэшей */
#mesh-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	max-height: 200px;
	overflow: hidden; /* Скрыть ползунок */
}

/* Удалите плавный переход для мэшей */
#mesh-list li {
	padding: 10px;
	margin-bottom: 6px;
	background-color: #f0f0f0;
	border-radius: 6px;
	cursor: pointer;
	font-size: 14px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Удалите плавный переход для состояния hover */
#mesh-list li:hover {
	background-color: #e0e0e0;
}

/* Удалите плавный переход для выделенного состояния */
#mesh-list li.selected {
	background-color: #4a90e2;
	color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Стили для темной темы */
body.dark-theme #mesh-list li {
	background-color: #333;
	color: #eee; /* Белый цвет текста для лучшей видимости */
}

body.dark-theme #mesh-list li:hover {
	background-color: #444;
}

body.dark-theme #mesh-list li.selected {
	background-color: #4a90e2;
	color: #fff;
}

/* Улучшенные стили для секций GUI */
.gui-group {
	margin-bottom: 20px;
}

label {
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 8px;
}

input[type='text'],
select {
	font-size: 14px;
}

.mesh-item {
	padding: 10px;
	margin-bottom: 6px;
	background-color: #f0f0f0;
	border-radius: 6px;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.mesh-name {
	font-weight: bold;
	font-size: 14px;
}

.mesh-dimensions {
	font-size: 12px;
}

#tabs-container::-webkit-scrollbar {
	display: none; /* Скрыть ползунок для WebKit-браузеров */
}
